/*body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #808080;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
}

a {
	color: #33CCCC;
}

header {
	background: #33CCCC;
}

header>nav {
	width: 100%;
}

header>nav ul {
	width: 80%;
	margin: 0px auto;
}

header>nav li {
	list-style: none;
	display: inline-block;
	padding: 0px 1em;
}

header>nav a {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
	display: block;
}

header>nav a:hover {
	color: grey;
	text-decoration: none;
}*/

body {
	color: #6D6E71;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
}

a {
	color: #33CCCC;
}

header {
	background: #33CCCC;
}

header>.jumbotron {
	background: transparent !important;
}

header>.jumbotron a {
	color: yellow;
}

header>.jumbotron a:hover {
	color: grey;
}

.navbar-transparent {
	background: transparent !important;
	border: none !important;
	text-align: center;
}

.navbar ul.nav li a {
	font-size: 1.1em;
	font-weight: bold;
}

.navbar-transparent .nav>li>a {
	color: #fff !important;
	/*font-weight: bold;*/
}

.navbar-collapse {
	text-align: center !important;
}

.social-container {
	margin-top: 2.3em;
}

.social-container a {
	font-size: 1.2em;
	letter-spacing: 0.8em;
}

.jumbotron h2 {
	color: #fff;
	font-size: 3em;
	/*font-family: Roboto Helvetica;*/
	letter-spacing: 0.5em;
	text-transform: uppercase;
	line-height: 2em;
	margin-top: 1.5em;
	margin-bottom: 1 em;
}

.jumbotron .contents-center>a.btn-default {
	background: transparent !important;
	margin-top: 1em;
	border: 2px solid;
}

section.info-section {
	padding-bottom: 1.5em;
	margin-top: 4em;
}

section#edu .left-border p {
	text-align: left;
}

.work-experience p {
	width: 80%;
}

section>h2.info-title {
	font-size: 1.6em;
	margin-bottom: 1em;
	text-align: center;
	color: #000;
}

section.h4.item-title {
	font-size: 1.5em;
	color: #000;
}

section.h5.item-subtitle {
	font-size: 1.5em;
	color: #000;
}

section span.date-right {
	font-size: 14px;
	color: #999999;
	font-weight: bold;
	margin-right: 9em;
}

section .left-border {
	border-left: 2px solid #999999;
}


/* About section */

.about p {
	text-align: center;
	line-height: 1.4em;
	font-size: 1.2em;
}

.skills h4 {
	color: #000;
}

.skills .row {
	margin-bottom: 1em;
}


/* Skills */

.skills ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-left: 0.5em;
	/*font-weight: ;*/
	line-height: 2em;
}

.skills li {
	line-height: 1.5em;
}

.contact p {
	font-size: 20px;
}

div.float-btn {
	position: fixed;
	right: 2em;
	bottom: 3em;
	background: #000;
	border-radius: 70%;
}

footer {
	background: #000;
	color: #fff;
	padding-bottom: 2em;
	padding-top: 1em;
	margin-top: 5em;
}

@media (max-width: 720px) {
	.jumbotron h2 {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
	.left-border {
		margin-left: 5px;
	}
	.collapse {
		background: #33CCCC;
	}
	.collapse li>a {
		color: #fff !important;
	}
}