body {
	background-color: #eee ;
	// background-clip: ;
}

a {
	color: #33CCCC;
	text-decoration: none;
}

a:hover {
	color: #CCCC33;
}

.page-strip {
	background: #33CCCC;
    height: 0.6em;    
    position: absolute;
    width: 100%;
    z-index: 1;
}

.sidebar-container {
	width: 18em;
    background: #000;
    color: white;
    height: 100vh;
    position: absolute;
}

.sidebar-container .personal-description {
	// overflow-y: scroll;
	// max-height: 58vh;
}

.sidebar-container .brand-section {
	text-align: center;
    padding: 15px 10px;
}

.sidebar-container .brand-section .logo img {
	width: 5em;
}

.sidebar-container .brand-section h4 {
	font-size: 24px;
    color: #CCCC33;
}

.sidebar-container .footer {
	padding-bottom: 1em;
	padding-left: 5px;
}

.sidebar-container .brand-section p {
	font-weight: bold;
    font-size: 15px;
    margin: -2px;
}

.sidebar-container .section h5 {
	padding-left: 8px;
	font-size: 1.2em;
	font-weight: bold;
	color: #CCCC33;
	margin: 0px;
}

.sidebar-container .section a {
	font-weight: bold;
}

.sidebar-container .section hr {
	margin: 0px 0px 7px 8px;
    border: 1px solid #CCCC33;
    width: 90%;
}

.sidebar-container .section ul {
	padding-right: 3px;
	padding-top: 5px;
}

.sidebar-container .section ul > li{
	list-style-type: hiragana;
	line-height: 19px;
	margin-bottom: 4px;
}

.top-nav .nav-li {
	list-style-type: none;
	float: left;
}

.top-nav .nav-li>a {
	display: inline-block;
	margin: 0px;
	padding: 10px;
	font-size: 1.4em;
	text-decoration: none;
	color: #999999;
}

.top-nav li.active a {
	color: #33CCCC;
}

.main-container {
	height: 100vh; 
	/* background: green; */
	padding-left: 200px
}

.main-container .middle-container {
    height: 100%;
    width: 51em;
    margin: 0 auto;
    right: 20px;
}

.contents-container {
	display: none;
}

section.active {
	display: block;
}

.contents-container .contents {
	padding-left: 12px;
}

.contents-container .sec-institution {
	font-size: 2em;
	color: #33CCCC;
}

.contents-container .sec-desc {
	color: grey;
	font-size: 16px;
}

.contents-container .sec-year {
	font-size: 19px;
}

.contents-container .work-content .work-title {
	font-size: 18px;
	font-weight: bold;
}

.clear-both {
	clear: both;
}

.footer {
	bottom: 0px;
	position: absolute;
}